.card-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(197, 197, 197);
  width: 50vw;
  padding: 20px;
  /* border: 6px solid grey; */
  border-radius: 15px;
  box-shadow: 10px 10px 5px rgb(26, 26, 26);
  margin: 0 auto;
  margin-bottom: 40px;
  color: white;
}
.card-detail:hover{
  background-color: rgb(207, 207, 207);
  /* color: rgb(64, 64, 64); */
  /* background: transparent; */
  border-color: whitesmoke;
  transform: translateY(-1rem);  
}
