.main-home-container,
.home-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  background-color: transparent;
}

.icon {
  position: absolute;
  margin-top: 14px;
  padding: 5px;
  left: 7px;
}
label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid rgb(152, 152, 152);
}

.home-form input {
  border: 1px solid rgb(228, 228, 228);
}
.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
.previous-view {
  margin: 0 auto;
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
}

.search-bar > .i {
  margin-top: 7px;
  font-size: 17px;
}
.search-bar > input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}
.search-bar input {
  font-size: 11px;
  border: 1px solid rgb(228, 228, 228);
}
#link-button {
  width: 100px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 0.7rem;
  cursor: pointer;
  color: #ffffff;
  background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(204, 78, 78));
}
#link-button:hover {
  background-image: linear-gradient(to right, rgb(255, 81, 81), rgb(162, 0, 0));
}
@media screen and (max-width: 1100px) {
  .main-home-container,
  .home-form {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .main-home-container,
  .home-form {
    width: 100%;
  }
  @media screen and (max-width: 270px) {
    .main-home-container,
    .home-form {
      width: 100%;
      padding: 0.4rem;
    }
  }
}
