#above-back {
  background: #fff;
  margin-top: 10px;
  padding: 70px 0;
  margin-bottom: 0;
}
.title {
  font-family: "Codystar", cursive;
  color: rgb(253, 240, 169);
  font-weight: bold;
  font-size: 4vh;
  border: 6px dotted rgb(253, 240, 169);
  border-radius: 15px;
  padding: 0px 25px 0px 25px;
  background-color: rgb(187, 0, 0);
}
.cardata-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(163, 163, 163);
  width: 25vw;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: 10px 10px 5px rgb(26, 26, 26);
  margin-bottom: 0px;
  margin-top: 60px;
  margin-left: 10px;
  color: white;
}

#cardata-make-1 {
  color: rgb(255, 255, 255);
  padding: 0.2rem 0 0.5rem 0;
}
.cardata-card:hover {
  background-color: rgb(141, 141, 141);
  /* color: rgb(55, 55, 55); */
  border: none;
  transform: translateY(-0.2rem);
}
.card > img {
  height: 638px;
  width: 425px;
  border: 3px solid black;
  border-radius: 15px;
  cursor: zoom-in;
}
.car-make {
  font-size: 2.5rem;
}
.car-year {
  font-size: 1.35rem;
}
.car-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
label {
  text-align: left;
  padding: 0.25rem 0;
}
input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
#back {
  padding-top: 20px;
}
#link-btn {
  border: none;
  /* background-color: rgb(99, 150, 253); */
  background-image: linear-gradient(
    to right,
    rgb(99, 150, 253),
    rgba(255, 0, 0, 1)
  );
  padding: 20px;
  border-radius: 0.7rem;
  cursor: pointer;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 40px;
}
#link-btn:hover {
  border: none;
  /* background: rgb(66, 129, 255); */
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgb(99, 150, 253)
  );
  color: rgb(240, 230, 230);
}
@media screen and (max-width: 888px) {
  /**/
  .cardata-card-direction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
