/* About Section */
#about {
  padding: 10px 0 1700px 0;
  margin-bottom: 70px;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#about .about-text li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #5ca9fb;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p {
  line-height: 24px;
  margin: 30px 0;
}

#about img {
  margin: 0 auto;
  margin-bottom: 70px;
}
#list_cars {
  list-style: none;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.about-text #about-common {
  margin-top: 40px;
  font-size: 50px;
}

/* mobile phones*/
@media screen and (max-width: 600px) {
  .about-text #about-common {
    font-size: 25px;
    margin-top: 20px;
  }
}
