/*
Header
*/

header::after {
  content: "";
  display: table;
  clear: both;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
  margin-bottom: 60px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span {
  color: rgb(164, 93, 0);
}
.header__top {
  display: table;
  width: 100%;
  padding: 0;
  background: url(../../../public/imgs/header_img_1920x1280_0_65_opacity.png)
    center center no-repeat;
  background-color: #1e1e1e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.header__top:hover {
  display: table;
  width: 100%;
  padding: 0;
  color: #fff;
  background: url(../../../public/imgs/header_img_1920x1280_0_87_opacity.png)
    center center no-repeat;
  background-color: #363636;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  transition: all 0.5s;
}
.header__top .header__darker {
  background: rgba(193, 130, 255, 0.1);
}
.header__top h1 {
  color: #bbbbbb;
  font-size: 90px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.header__top p {
  color: transparent;
  font-size: 21px;
  color: transparent;
  font-weight: 600;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.header__top p:hover {
  color: #f5f5f5;
}
header .header__top__text {
  padding-top: 400px;
  padding-bottom: 170px;
  text-align: center;
}

/* mobile phones*/
@media screen and (max-width: 600px) {
  .header-text {
    margin-top: 35%;
    font-size: 30px;
    margin-bottom: 60px;
  }
  .header__top h1 {
    font-size: 40px;
  }
  .header__top p:hover {
    color: transparent;
  }
}
