#form__container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}
#form__container{
  border-radius: 0.7rem;
  background-image: linear-gradient(79deg, #d7d7d7, #c7c7c7 48%, #c7c7c7);
  box-shadow: rgba(253, 253, 253, 0.56) 0px 22px 70px 4px;
  /* border: 1px dotted rgb(253, 240, 169); */
}
#form__container, .login-form, .register-form h2 label{
 color: white;
}
input{
  font-size: 12px;
  border: 1px solid rgb(102, 102, 102);
}
label{
  font-size: 12px;
}
@media screen and (max-width: 600px) {
  .form__container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 0.7rem;
    margin: 0.5rem;
  }
  input{
    font-size: 12px;
  }
  label{
    font-size: 12px;
  }
}
@media screen and (max-width: 414px) {
  .form__container {
    padding: 2rem;
    border: 1px solid white;
    border-radius: 0.7rem;
    margin: 0.5rem;
  }
  input,  .logReg{
    font-size: 10px;
    width: 100px;
    margin-left: -50px;
  }
  label{
    margin-left: -50px;
    font-size: 10px;
  }
  #searchText{
    margin: 0 auto;
    width: 100%;
  }
}