#form__container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}
#form__container {
  border-radius: 0.7rem;
  background-image: linear-gradient(79deg, #d7d7d7, #c7c7c7 48%, #c7c7c7);
  box-shadow: rgba(253, 253, 253, 0.56) 0px 22px 70px 4px;
  /* border: 1px dotted rgb(253, 240, 169); */
}
#form__container,
.login-form,
.register-form h2 label {
  color: white;
}
.login-form,
.register-form {
  width: 100%;
}
.link-button {
  margin: 0 90px;
  height: fit-content;
  background-color: transparent;
}
input,
#searchText {
  font-size: 12px;
  border: 1px solid rgb(238, 238, 238);
  outline: none;
  background-color: white;
}
#searchText {
  font-size: 11px;
}
label {
  font-size: 12px;
}
@media screen and (max-width: 600px) {
  #form__container {
    padding: 4rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.7rem;
    margin: 0 auto;
    width: 400px; 
  }
  button {
    margin: 0 auto;
  }
  .link-button {
    margin: 0 auto;
    height: fit-content;
    background-color: transparent;
  }
  input {
    font-size: 10px;
    width: 100%;
  }
  label {
    font-size: 12px;
  }
}
@media screen and (max-width: 420px) {
  #form__container {
    padding: 0rem;
    border: 1px solid white;
    border-radius: 0.7rem;
    margin: 0 auto;
    width: 200px; 
  }
  .login-form,
  .register-form,
  #log-reg {
    width: 100%;
  }
  #searchText {
    margin: 0 auto;
    width: 100%;
  }
}
